@charset "ISO-8859-1";
body
{
	
	text-align: center;
	background-image: url(../imagenes/fondoDia.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover; 
	/*
	  background: linear-gradient(to bottom, #8e0e00, #1f1c18);
	  */
	 
	  /*
	 background: linear-gradient(to top, #924444, #F79F81);
	*/
	}

input.campo  {
	outline: none !important;
	background-color: rgb(245, 245, 245);
	border: 0;
	border-bottom: rgb(255, 200, 200) 5px solid;
	-webkit-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	-moz-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5);
}

input.campo:focus {
     
     outline: none !important;
	background-color: rgb(245, 245, 245);
	border: 0;
	border-bottom: rgb(255, 50, 50) 5px solid;
	-webkit-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	-moz-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5) ;
	animation-duration: 0.5s;
  animation-name: slidein;
	
}

input.camporeg  {
	outline: none ;
	
	border: rgb(200, 200, 200) 1px solid;
	border-radius:3px;
	border-bottom: rgb(255, 200, 200) 2px solid;
	-webkit-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	-moz-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5);
}

input.camporeg:focus {
     
     outline: none ;
	
	
	border-bottom: rgb(255, 50, 50) 2px solid;
	-webkit-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	-moz-box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5)
		!important;
	box-shadow: inset -2px -7px 16px -20px rgba(0, 0, 0, 0.5) ;
	animation-duration: 0.5s;
  animation-name: slidein;
	
}

@keyframes slidein {
  from {
    
    margin-top: -2%;
    
  }

  to {
    margin-top: 0%;
    
  }
  
  
}

.barra {
	-webkit-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
}

.todo {
	border: rgba(255, 200, 200, 0.2) 5px solid;
	background-color: rgba(245, 245, 245, 0.9);
	-webkit-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
}

.titular {
	border: rgba(85, 85, 105, 0.2) 5px solid;
	background-color: rgba(85, 85, 105, 0.9);
	color: aqua;
	
	-webkit-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 60px -13px rgba(0, 0, 0, 0.4);
}

.titulo{
	font: bold;
	font-size: 100px;
}

.sinfondo{
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255,255)), to(rgb(255, 255, 255)));
background: -moz-linear-gradient(top,  rgb(255, 255, 255),  rgb(255, 255, 255));

}

.btn{
	
	border-radius: 0 !important;
}


     .value {
        font-weight: bold;
    }
     
    .ui-carousel {
        margin-bottom: 20px;
    }
.card-header{
	background: #1488CC;  
    background: -webkit-linear-gradient(to right,rgb(15, 68, 85), #17a2b8);  
    background: linear-gradient(to right, rgb(15, 68, 85),#17a2b8);
    color:white;
}

.fondCentr{
	background: #ffffff; 
}

.ui-panel-titlebar {
   
    background:#88e3f0;
    text-shadow: 0px 0px white, -0px -0px #333;
   
    color: white;
   height:50px;
   font-family: "Segoe UI";
   font-variant-ligatures: normal;
    
  
}
